.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}
.quoteBox {
  width: 35vw;
  height: auto;
  padding: 30px;
  margin: 1rem;
  border-radius: 4px;
  background-color: aliceblue;
}
.author-div {
  display: flex;
  justify-content: end;
  align-items: center;
}

.quote-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social,
.btn {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social {
  margin-right: 5px;
}
